* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(170, 163, 150, 0.733);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3em;
    color: beige;
    user-select: none;

}

.btnLogin {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid beige;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: beige;
    font-weight: 500;
}

.btnLogin:hover {
    background: beige;
    color: #000;
}