* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 300px;
    background: rgb(189, 156, 114);
    background: -webkit-linear-gradient(to right, hsl(0, 0%, 59%), hsla(0, 1%, 32%, 0.342)), url(../decoracion/6.jpg);
    background: linear-gradient(to right, hsl(60, 1%, 62%), hsla(0, 1%, 34%, 0.356)), url(../decoracion/6.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.texto-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 70px 0 50px 0;
}

.texto-header h1 {
    font-size: 40px;
    color: beige;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto-header h2 {
    font-size: 30px;
    color: beige;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fondo {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .texto-header h1 {
        font-size: 32px;
    }

    .texto-header h2 {
        font-size: 24px;
    }
}